asn1crypto==0.24.0
beautifulsoup4==4.6.3
boto==2.49.0
boto3==1.9.51
botocore==1.12.51
bz2file==0.98
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
cryptography==2.4.2
docutils==0.14
future==0.17.1
gensim==3.6.0
idna==2.7
jmespath==0.9.3
nltk==3.4
numpy==1.15.4
pandas==0.23.4
pycparser==2.19
pymongo==3.7.2
python-dateutil==2.7.5
python-telegram-bot==11.1.0
pytz==2018.7
requests==2.20.1
s3transfer==0.1.13
scipy==1.1.0
singledispatch==3.4.0.3
six==1.11.0
smart-open==1.7.1
telegram==0.0.1
urllib3==1.26.5
virtualenv==16.1.0
wikipedia==1.4.0

